<section id="appFooter">

    <footer class="footer">
        <div class="left-wrapper">
            <div class="top-wrapper">
                <div>
                    <div class="label">{{ 'vectra_app' | translate }}</div>
                    <div class="content">
                        <i class="app_store_icon"></i>
                        <div class="content-left-wrapper">
                            <div class="violet top-text">{{ 'download' | translate }}</div>
                            <h1 class="violet">{{ 'app' | translate }}</h1>
                        </div>
                    </div>
                </div>
                <div class="top-left-wrapper">
                    <div class="label">{{ 'sales' | translate }}</div>
                    <div class="green top-text">{{ 'call_or_send_SMS' | translate }}</div>
                    <h1 class="green">601 601 601</h1>
                    <div class="description">({{ 'operator_rates' | translate }})</div>
                </div>
            </div>
            <div class="bottom-wrapper">
                <div class="menu-wrapper">
                    <div><a href="">{{ 'about_us' | translate }}</a> </div>
                    <div><a href="">{{ 'contact' | translate }}</a> </div>
                    <div><a href="">{{ 'career' | translate }}</a> </div>
                    <div><a href="">{{ 'for_media' | translate }}</a> </div>
                </div>
                <div class="social-media-wrapper">
                    <a href=""><i class="facebook_icon"></i></a>
                    <a href=""><i class="twitter_icon"></i></a>
                    <a href=""><i class="youtube_icon"></i></a>
                </div>
            </div>
        </div>
        <div class="right-wrapper">
            <div class="label">{{ 'customer_service_center' | translate }}</div>
            <div class="green top-text">{{ 'zadzwoń' | translate }}</div>
            <h1 class="green">800 080 800</h1>
            <div class="small-label">{{ 'from_mobile_phone' | translate }}</div>
            <h2 class="green">58 500 65 00</h2>
            <div class="description">({{ 'operator_rates' | translate }})</div>
        </div>
    </footer>

</section>