<section class="create-package-row">
    <div class="grid-item">
        <div>
            <h1>{{ 'create_your_own_package' | translate }}</h1>
            <h6>{{ 'television' | translate }}-{{ 'internet' | translate }}-{{ 'phone' | translate }}</h6>
        </div>
        <div class="items-wrapper">
            <div class="item">
                <div class="icon-border">
                    <div class="icon-wrapper">
                        <i class="tv_icon"></i>
                    </div>
                </div>
                <div class="choose-text">{{ 'choose' | translate }}</div>
                <div class="item-name">{{ 'favorite_tv_channels' | translate }}</div>
            </div>
            <div class="plus-sign">+</div>
            <div class="item">
                <div class="icon-border">
                    <div class="icon-wrapper">
                        <i class="tv_icon"></i>
                    </div>
                </div>
                <div class="choose-text">{{ 'choose' | translate }}</div>
                <div class="item-name">{{ 'favorite_tv_channels' | translate }}</div>
            </div>
            <div class="plus-sign">+</div>
            <div class="item">
                <div class="icon-border">
                    <div class="icon-wrapper">
                        <i class="tv_icon"></i>
                    </div>
                </div>
                <div class="choose-text">{{ 'choose' | translate }}</div>
                <div class="item-name">{{ 'favorite_tv_channels' | translate }}</div>
            </div>
            <div class="plus-sign">+</div>
            <div class="item">
                <div class="icon-border">
                    <div class="icon-wrapper">
                        <i class="tv_icon"></i>
                    </div>
                </div>
                <div class="choose-text">{{ 'choose' | translate }}</div>
                <div class="item-name">{{ 'favorite_tv_channels' | translate }}</div>
            </div>
        </div>
        <div class="bottom-wrapper">
            <a class="button create-package-button">
                stwórz pakiet
            </a>
            <div>lub wybierz pakiet, przygotowany przez nas</div>
        </div>
    </div>
</section>