<section id="app-header">

    <header class="tob-bar">
        <div class="tob-bar-toggler"
             ng-click="$ctrl.onClickTobBarToggler()"
             aria-label="Toggle navigation">
            <i class="menu_icon"></i>
        </div>
        <div click-outside="$ctrl.onClickOutsideSideNav()"
             opened="$ctrl.isMenuOpened"
             id="main-menu"
             ng-class="{'visible' : $ctrl.isMenuVisible}"
             class="sidenav">
            <div class="top">
                <span class="title">
                    {{ 'packages' | translate }}
                </span>
                <a href="#">
                    <i class="tv_icon"></i>
                    {{ 'television' | translate }}
                </a>
                <a href="#">
                    <i class="internet_icon"></i>
                    {{ 'internet' | translate }}
                </a>
                <a href="#">
                    <i class="phone_violet_icon"></i>
                    {{ 'phone' | translate }}
                </a>
                <a href="#">
                    <i class="mobile_internet_icon"></i>
                    {{ 'mobile_internet' | translate }}
                </a>
            </div>
            <div class="middle">
                <span class="title">{{ 'VOD' | translate }}</span>
                <span class="description">{{ 'VOD_description' | translate }}</span>
                <div class="promo-wrapper">
                    <img class="cover"
                         src="{{$ctrl.promoMove.cover}}"/>
                    <div class="movie-description">
                        <b class="movie-label green">{{ 'today_in_promotion' | translate }}</b>
                        <span class="movie-title">{{$ctrl.promoMove.title}}</span>
                        <span class="movie-type">{{$ctrl.promoMove.type}}</span>
                        <b class="movie-price blue">{{$ctrl.promoMove.price}} zł → <span class="uppercase">{{ 'buy' | translate }}</span></b>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <span class="title">{{ 'tv_online' | translate }}</span>
                <span class="description">{{ 'tv_online_description' | translate }}</span>
            </div>
        </div>
        <div class="tob-bar-items">
            <a href="">
                {{ 'customer_service_center' | translate }}<i class="phone_icon"></i>
                <span class="phone_number green">{{ 'phone_number' | translate }}</span>
            </a>
            <a href="">
                <i class="search_icon"></i> {{ 'search' | translate }}
            </a>
            <a href="">
                <i class="avatar_icon"></i>{{ 'subscriber_zone' | translate }}
            </a>
        </div>
    </header>

</section>