<section id="home">

    <div class="wrapper">
        <div class="one">
            <dot-slider items="home.sliderItems"></dot-slider>
        </div>
        <div class="two">
            <arrow-slider items="home.sliderArrowItems"></arrow-slider>
        </div>
        <div class="three">
            <create-package-row></create-package-row>
        </div>
        <div class="four">
            <now-in-tv-online-row></now-in-tv-online-row>
        </div>
        <div class="five grid-item">
            <div>
                <h1 class="green">{{ 'PAKIET 20 GB LTE' | translate }}</h1>
                <h6 class="violet">{{ 'promocja' | translate }}-{{ 'internet' | translate }}-{{ 'phone' | translate }}</h6>
            </div>
        </div>
        <div class="six grid-item">
            <div>
                <h1>{{ 'nasz support' | translate }}</h1>
                <h6 class="green">propozycje naszego tv-maniaka <br>na weekend</h6>
            </div>
        </div>
        <div class="seven grid-item">
            <div>
                <h1 class="violet">{{ 'aplikacja' | translate }}</h1>
                <h6>{{ 'television' | translate }}-{{ 'internet' | translate }}-{{ 'phone' | translate }}</h6>
            </div>
        </div>
    </div>

</section>