$grey_dark: #1a1a1a;
$grey: #3c3c3c;
$grey_light: #7a7a7a;
$grey_lightest: #bababa;
$black: #000;
$green: #84b82a;
$blue: #2c8fbd;
$violet: #675190;
$violet_dark: #4d3c6c;
$grey_divider: #272727;
$grey_text: #5a5a5a;
$white: #fff;
$red: #aa2755;
$button_border_color: #b3a8c8;